#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

/* Ensure padding adjusts on smaller screens */
@media (max-width: 768px) {
  #root {
    padding: 1rem;
  }
}

/* Responsive cards */
.card {
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Make buttons full-width on small screens */
@media (max-width: 768px) {
  button {
    width: 100%;
  }
}

/* Ensure forms are properly spaced */
form input,
form textarea,
form select {
  width: 100%;
  max-width: 500px;
  margin: auto;
  display: block;
  border-width: 2px !important;
  border-color: #1e90ff !important;
}
